/**
 * Variables
 */


// Custom variables
$greenish: #00c5be;
$greenish-darker: #00aba5;
$greenish-darkest: #01918c;
$rich-black: #04111c;
$orange: #ec8119;


//Fonts
$nexa: 'Nexa', sans-serif; // DOPLNIT FONT


// Screen breakpoints variables
$screen-sm: 375px;
$screen-md: 768px; // 767 for portrait display on iPad
$screen-lg: 1366px;

